localhost {
        encode zstd gzip
        templates
        file_server browse
}

site1.com {
        root * /var/www/site_1
        file_server
}

site2.com {
        root * /var/www/site_2
        file_server
}

php-site.com {
        root * /var/www/php_site
        php_fastcgi * php-server:9000
        file_server
}
