localhost {
        encode zstd gzip
        templates
        file_server browse
}

http://static-site1.com {
        root * /var/www/site_1
        file_server
}

http://static-site2.com {
        root * /var/www/site_2
        file_server
}

http://php-site.com {
        root * /var/www/php_site
        php_fastcgi * php-server:9000
        file_server
}

http://node-site.com {
        reverse_proxy node-server:8080
}

http://www.wordpress-site.com {
	reverse_proxy hipster_axe_wordpress_1:80
}
